@font-face{
    font-family: money;
    src: url("../font/QuartzRegular.ttf");
}
.bodyer{
    padding: 0 .4rem;
    background: url("../images/bg.png") no-repeat center center/cover;
    background-attachment: fixed;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}
header{
    width: 100%;
    height: .9rem;
    color: #fff;
    border-bottom: 1px solid #396e95;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left img{
    height: .4rem;
    margin-right: .1rem;
}
.head-left span{
    height: 100%;
    font-size:.36rem;
}
.head-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .2rem;
}
.text{
    width: 100%;
    margin: 0.44rem 0 .4rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.text-left{
    width: 25%;
}
.today-income{
    width: 100%;
    height: 1.8rem;
    background: url("../images/today-income.png") no-repeat center;
    background-size: cover;
}
.income{
    color: #c5e7ff;
    font-size: .18rem;
}
.money{
    height: 1.6rem;
    display: flex;
}
.money-n{
    height: 100%;
    width: 65%;
    text-align: center;
    line-height: 1.6rem;
    font-family: money;
    font-size: .66rem;
    color: #fff55a;
}
.money-right{
    width: 35%;
    padding: 0.2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.money-right span{
    color: #c5e7ff;
    font-size: .2rem;
}
.money-up{
    height: 0.4rem;
}
.money-right span:last-child{
    color: #ff5e5e;
}
.stop-lenth{
    margin: 0.2rem 0;
    width: 100%;
    height: 3.4rem;
    background: url("../images/stop-length.png") no-repeat center center/100% 100%;
}
.stop-lenth h2{
    color: #c5e7ff;
    font-size: .2rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
.device-warning{
    width: 100%;
    height: 3.8rem;
    background: url("../images/left-right-bg.png") no-repeat center center/100% 100%;
}
.device-warning h2{
    color: #c5e7ff;
    font-size: .2rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
.device-list{
    height: 3rem;
    margin: 0 .32rem;
    position: relative;
    overflow: hidden;
}

.d-l-box{
    color: #c5e7ff;
    font-size: .12rem;
    margin: .1rem 0;
}
.top{
    height: .28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person{
    border: 1px solid #ff5e5e;
    height: .24rem;
    border-radius: .24rem;
    font-size: .14rem;
    line-height: .24rem;
}
.person span:nth-child(1){
    background-color: #ff5e5e;
    height: 100%;
    color: #000000;
    border-radius: .24rem;
    padding: 0.05rem 0.1rem;
}
.person span:nth-child(2){
    padding: 0.1rem;
}
.info{
    height: .28rem;
    line-height: .28rem;
    display: flex;
    justify-content: space-between;
}
.content-center{
    width: 50%;
    min-height: 500px;
    padding: 0 0.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.map{
    height: 6.4rem;
    margin-right: -0.3rem;
    margin-left: -0.3rem;
}
.stop-photo{
    width: 100%;
    height: 3rem;
    position: relative;
    background: url("../images/stop-photo.png") no-repeat center center/100% 100%;
    overflow: hidden;
}
.mySwiper2{
    width: 100%;
    height: 100%;
}
.stop-box{
    width: 2rem;
    height: 3rem;
    position: absolute;
    display: flex;
}
.stop-box .h{
    width: 2rem;
    height: 3rem;
    background: rgba(0, 0, 0, .3);
    margin-right: 5px;
    font-size: .14rem;
    color: #c5e7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.in-outtime{
    height: .4rem;
    line-height: .4rem;
}
.img{
    width: 100%;
    height: 2rem;
    background-image: url(../images/car1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stop-name{
    /* height: .3rem;
    line-height: .3rem; */
    font-size: .1rem;
}
.stop-number{
    /* height: .3rem;
    line-height: .3rem; */
    font-size: .1rem;
}
.content-right{
    width: 25%;
}
.stop-numbers{
    width: 100%;
    height: 1.8rem;
    display: flex;
}
.stop-col{
    width: 33.33333%;
    height: 100%;
    padding: 0 4px;
    box-sizing: border-box;
}
.stop-col-inner{
    height: 100%;
    background-color: #ff5e5e;
    background: url(../images/stop-number-bg.png) no-repeat center center/cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stop-col-inner span:nth-child(1){
    color: #58e9ff;
    font-size: .28rem;
    height: .4rem;
}
.stop-col-inner span:nth-child(2){
    color: #c5e7ff;
    font-size: .16rem;
    height: .4rem;
}
.stop-top{
    margin: .2rem 0;
    height: 3.4rem;
    background: url(../images/stop-length.png) no-repeat center center/100% 100%;
}
.stop-top h2{
    color: #c5e7ff;
    font-size: .2rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
.stop-top-box{
    width: 50%;
    float: left;
    height: 2.8rem;
    padding: 0 0.2rem 0.2rem;
    box-sizing: border-box;
}
.yestday-info{
    height: 3.8rem;
    background: url(../images/stop-length.png) no-repeat center center/100% 100%;
}
.yestday-info h2{
    color: #c5e7ff;
    font-size: .2rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
.info-list{
    height: 3rem;
    margin: 0 .32rem;
    position: relative;
    overflow: hidden;
    font-size: .12rem;
}
.info-list-box{
    width: 100%;
    position: absolute;
    font-weight: bold;
}
.info-list-box ul li{
    border-top: 1px dashed #fff;
    padding: 0.2rem 0;
}
.info-list-box ul li div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    border: 1px solid rgb(74, 223, 255);
    padding: 20px;
}
.modal{
    display: flex;
    flex-direction: column;
}
.modal-h{
    color: rgb(74, 223, 255);
    line-height: 30px;
}
.texts{
    line-height: 30px;
}
.moneys{
    color: #26f5d5;
    font-size: 22px;
    margin: auto;
    line-height: 1.5;
    text-align: center;
}
.car{
    width: 80%;
    height: 40px;
    background-color: #18233b;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    border-right: 1px solid rgb(74, 223, 255);
    box-sizing: border-box;
}
.left span:nth-child(1){
    color: white;
}
.left span:nth-child(2){
    color: rgb(74, 223, 255);
}
.right span:nth-child(1){
    color: white;
}
.right span:nth-child(2){
    color: rgb(74, 223, 255);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: white;
    line-height: 30px;
}